<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-logo">SSV.</a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/#logs">Logs</a></li> 
      <% if (typeof user !== 'undefined' && user) { %>
        <li><a href="/create" style="color: #000; font-weight: 600;">+ New Draft</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Admin</a></li>
      <% } %>
    </ul>
  </div>
</nav>